<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Practice.MyBoard.mapper.BoardMapper">
    <select id="getBoardList" resultType="board" parameterType="Practice.MyBoard.utils.Criteria">
        SELECT *
          FROM myboard.board
        WHERE BOARD_DEL_AT = 'N'
        <if test="option eq 'title'">
            AND BOARD_TITLE LIKE CONCAT('%',#{searchValue}, '%')
        </if>
        <if test="option eq 'content'">
            AND BOARD_CONTENT LIKE CONCAT('%',#{searchValue}, '%')
        </if>
        ORDER BY BOARD_IDX DESC
        LIMIT #{pageStart}, #{perPageNum};
    </select>

    <select id="getNumberOfPost" resultType="int" parameterType="Practice.MyBoard.utils.Criteria">
        SELECT COUNT(*)
          FROM myboard.board
         WHERE BOARD_DEL_AT = 'N'
         <if test="option eq 'title'">
            AND BOARD_TITLE LIKE CONCAT('%',#{searchValue}, '%')
         </if>
         <if test="option eq 'content'">
             AND BOARD_CONTENT LIKE CONCAT('%',#{searchValue}, '%')
         </if>
    </select>

    <insert id="insertBoard" parameterType="board">
        INSERT INTO myboard.board
        VALUES (NULL, #{boardTitle}, #{boardWriter}, #{boardContent}, sysdate(), 0, 'N');
        <selectKey resultType="int" keyProperty="boardIdx" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <select id="boardDetail" resultType="board" parameterType="int">
        SELECT *
          FROM myboard.board
        WHERE BOARD_IDX = #{boardIdx}
    </select>

    <update id="deleteBoard" parameterType="int">
        UPDATE myboard.board
           SET BOARD_DEL_AT = 'Y'
         WHERE BOARD_IDX = #{boardIdx}
    </update>

    <update id="updateBoard" parameterType="hashmap">
        UPDATE myboard.board
           SET BOARD_CONTENT = #{boardContent}
         WHERE BOARD_IDX = #{boardIdx}
    </update>

    <update id="increaseCount" parameterType="int">
        UPDATE myboard.board
           SET BOARD_COUNT = BOARD_COUNT + 1
        WHERE BOARD_IDX = #{boardIdx}
    </update>
</mapper>